.flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap {
    gap: 20px;
}

.item-center {
    align-items: center;
}